@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset and app-wide defaults */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #000000; /* Black background */
  color: rgb(17 24 39); /* Tailwind's text-gray-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Improve link appearance to rely on component classes */
a {
  text-decoration: none;
}